html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;  margin:0;padding:0;
}

body{
  margin:0;
  background: white;
  color: black; 
  /* "A Better Helvetica" and "Helvetica Neue Alternatives" */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "TeXGyreHeros", "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 16px;
  min-width: 600px;
}

img { border:0; }

header {
  position:relative;
  background: black;
  color: #ccc;
  min-height: 120px;
  padding: 24px;
}

header nav {
  position:absolute;
  text-transform: uppercase;
  font-size:.9rem; font-weight:normal;
  top:12px; right:12px;
  cursor: pointer;  
}
header nav span:hover, header nav i:hover  {
  color:orange;
}

main {
  max-width: 640px;
  min-height: 600px;
  margin:24px auto;
}

label,input,textarea,button {
  font-family: "Segoe UI","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

input, textarea {
  width: 600px;
  margin: 12px;
}

button { 
  padding: 0 12px; 
  margin: 12px;
}

input {
  border-width: 0 0 1px 0;
}

input:hover {
  border-color:black;
}

input.error {
  background-color:#fee;  
}

/*-----------------------------------------------------*/
main h1 {
  font-size:32px;
  margin-bottom:24px;
}
.action {
  border-radius: 50%;
  display: inline-block;
  width: 36px;  height: 36px;
  padding: 2px;
  text-align: center;
  background-color: #eee;
}
.action:hover {
  background-color: #ccc;
}


/*-----------------------------------------------------*/

.item-list {
  width: 400px;
}

.item {
  position:relative;
  width:100%;
  height: 64px;
  background-color: #efe;
  border-top: 1px solid #999;
}

.item.completed {
  background-color: #fee;
  text-decoration: line-through;
}

.item:hover {
  background-color: #eee;
}

.item .timestamp {
  font-size:60%;
  position:absolute;
  right: 0;
}

.item .timestamp.added {
  top:6px;
}

.item .timestamp.completed {
  top:18px;
}

.item .index {
  position: absolute;
  right: 0px;
  top: 0;
}
.item .element {
  font-size: 2rem;
}
.item .comments {
  font-size: 80%;
  color: #666;
}

/*-----------------------------------------------------*/
.item .icon-complete, .item .icon-remove {
   position:absolute; 
   color: #999; 
   padding:6px;
   text-align: center;
   vertical-align: middle;
}

/*-----------------------------------------------------*/
.item .icon-remove:hover {
   color: red;       
}
.item .icon-remove {
  right:0px;
  top:0px;
}
.item .icon-remove:before {
  /* fa-trash \f1f8 or fa-ban \f05e or fa-times \f00d or ... ??? */
  content: "\f00d";
}
/*-----------------------------------------------------*/
.item .icon-complete:hover {
  color: green;        
}
.item .icon-complete {
  left:0px;
  top:0px;
}
.item .icon-complete:before {
  /* fa-check \f00c or ... ??? */
  content: "\f00c";
}

/*-----------------------------------------------------*/
.listdesc {
   position:relative;
   display:inline-block;
   width: 240px;           
   height: 120px;
   font-size:1em; 
   margin-right: 12px;
   margin-bottom: 12px;
   border-top: 1px solid #ccc;
   vertical-align: top;
   padding: 6px;
   overflow: hidden;
   z-index:0;
}
  
.listdesc:hover { 
  background-color: #efe;
}

.listdesc .index {
  font-size: 80%;
  color:#666;  
}

.listdesc .timestamp {
  font-size:80%; padding-left:12px;
}

.listdesc .name {
  font-size: 160%;  
}

.listdesc .comments {
  color: #666;
}

/*-----------------------------------------------------*/
.listdesc .icon-select:hover {
   color: green;         
}
.listdesc .icon-select {
  position:absolute;
  right: 0;
  bottom:0;  
}
.listdesc .icon-select:before {
  /* fa-arrow-right \f061 or ... ??? */
  content: "\f061";
}

/*-----------------------------------------------------*/
.listdesc .icon-remove {
  position:absolute;
  top: 0;
  right:0;  
}

.listdesc .icon-remove:hover {
   color: red;         
}

.listdesc .icon-remove:before {
  /* fa-trash \f1f8 or fa-ban \f05e or fa-times \f00d or ... ??? */
  content: "\f00d";
}


/*-----------------------------------------------------*/
#user-signup-form, #user-login-form, #item-entry, #list-entry, #shoplist, #shoplists { 
  display: none;
}

/*-----------------------------------------------------*/
#user-signup-form, #user-login-form, #item-entry,  #list-entry { 
  background-color: #eee;
}

/*-----------------------------------------------------*/
#item-entry:after,  #list-entry:after {
  content: "";
  display: table;
  clear: both;
}

/*-----------------------------------------------------*/
header #logo { 
  float: left; 
  height: 64px; 
  padding-right:24px 
} 
#debug {
  padding:6px;
  background-color:black;
  font-size:80%;
  font-family: "Andale Mono", "Consolas", "Courier New", "monospace";	  
  color:#0f0;
}
